#adminSidebarCollapse {
    &:focus {
        box-shadow: none ;
    }
    .burger-menu {
        color: $grey;
        font-size: 25px;

        &:hover {
            color: $primary-color;
        }
    }
}

/* for toggle behavior */

#adminSidebar {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    &.active {
      margin-left: -17rem;
    }
}

#adminContent {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  &.active {
      width: 100%;
      margin: 0;
  }
}

@media (max-width: 890px) {
  #adminSidebar {
    margin-left: -17rem;
      &.active {
          margin-left: 0;
      }
  }
  #adminContent {
    width: 100%;
    margin: 0;
      &.active {
          margin-left: 17rem;
          width: calc(100% - 17rem);
      }
  }
}

#adminNavbar {
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
    .nav {
        &-link {
            color: $light !important;
            &.active {
                color: $primary-color !important;
            }
            &:hover{
                color: $primary-color !important;
                transition: color 800ms;
            }
        }
    }

    .dropdown {
        &-menu {
            background-color: rgba(255, 255, 255, 0.5);
        }
        &-item {
            &:hover {
                color:  white !important;
                background-color: $primary-color;
            }
        }
        &-toggle {
            &::after {
                color: $grey;

            }
        }
    }
}

.adminSidebar {
    &__title {
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__item {
        font-size: 0.9rem;
        &-icon {
            margin-right: 10px;
        }
    }
}

.adminBody {
    h2 {
        color: $primary-color;
    }

    .card {
        box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);
    }

    .bg-success {
        background-color: $color-success !important;
    }

    .bg-warning {
        background-color: $color-warning !important;
    }

    .indicator {
        background: $color-danger;
        border-radius: 50%;
        box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
        color: #fff;
        display: block;
        font-size: .675rem;
        height: 18px;
        padding: 1px;
        position: absolute;
        right: -20px;
        text-align: center;
        top: -5px;
        transition: top .1s ease-out;
        width: 18px;
        &-container {
            position: relative;
        }
    }

    .table-post__icon {
        color: white;
    }

    .btn-show {
        background-color: $primary-color;
        border-color: $primary-color;
        &.disabled {
            background-color: $grey;
            border-color: $grey;
        }
    }
    .btn-delete {
        background-color: $color-danger;
        border-color: $color-danger;
    }
    .btn-update {
        background-color: $color-warning;
        border-color: $color-warning;
    }
}