RewriteEngine on
RewriteRule ^post$                                              index.php?p=post [L]
RewriteRule ^post/([0-9]*)$                                     index.php?p=post&id=$1 [L]
RewriteRule ^login$                                             index.php?p=login [L]
RewriteRule ^logout$                                            index.php?p=logout [L]
RewriteRule ^register$                                          index.php?p=register [L]
RewriteRule ^forgot-password$                                   index.php?p=forgot-password [L]
RewriteRule ^reset-password/(.*)/(.*)$                          index.php?p=reset-password&email=$1&token=$2 [L]
RewriteRule ^reset-password$                                    index.php?p=reset-password [L]
RewriteRule ^contact$                                           index.php?p=contact [L]
RewriteRule ^validate/(.*)/(.*)$                                index.php?p=validate&email=$1&token=$2 [L]
RewriteRule ^admin/dashboard$                                   admin.php?p=dashboard [L]
RewriteRule ^admin/post/new$                                    admin.php?p=post-new [L]
RewriteRule ^admin/post/confirm-delete/([0-9]*)$                admin.php?p=post-confirm-delete&id=$1 [L]
RewriteRule ^admin/post/delete/([0-9]*)$                        admin.php?p=post-delete&id=$1 [L]
RewriteRule ^admin/post/update/([0-9]*)$                        admin.php?p=post-update&id=$1 [L]
RewriteRule ^admin/post/([0-9]*)$                               admin.php?p=post&id=$1 [L]
RewriteRule ^admin/comment$                                     admin.php?p=comment [L]
RewriteRule ^admin/comment/confirm-approve/([0-9]*)$            admin.php?p=comment-confirm-approve&id=$1 [L]
RewriteRule ^admin/comment/approve/([0-9]*)$                    admin.php?p=comment-approve&id=$1 [L]
RewriteRule ^admin/comment/confirm-delete/([0-9]*)$             admin.php?p=comment-confirm-delete&id=$1 [L]
RewriteRule ^admin/comment/delete/([0-9]*)$                     admin.php?p=comment-delete&id=$1 [L]
RewriteRule ^admin/user$                                        admin.php?p=user [L]
RewriteRule ^admin/user/confirm-validate/([0-9]*)$              admin.php?p=user-confirm-validate&id=$1 [L]
RewriteRule ^admin/user/validate/([0-9]*)$                      admin.php?p=user-validate&id=$1 [L]
RewriteRule ^admin/user/update/([0-9]*)$                        admin.php?p=user-update&id=$1 [L]
RewriteRule ^admin/user/confirm-delete/([0-9]*)$                admin.php?p=user-confirm-delete&id=$1 [L]
RewriteRule ^admin/user/delete/([0-9]*)$                        admin.php?p=user-delete&id=$1 [L]



