{% extends 'admin/base.twig' %}

{% block body %}
    <div class="px-3 mt-2">
        <h2>{{ user.username }} - {{ user.email }}</h2>
        {{ include('admin/user/_form.twig', { action: config['R_ADMIN_USER_UPDATE'] ~ user.id, btn: 'modifier' }) }}
    </div>
{% endblock %}
