$primary-color: #1eb1de;
$background-color: #f8f9fa;
$background-color-icon: #ced4da;
$background-color-post: #efefee;
$color404: #020024;
$grey: #495057;
$light: #6c757d;
$color-danger: #d9534f;
$color-warning: #e5a54b;
$color-success: #4bbf73;
