.btn-hover-primary-color {
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    transition: background-color 500ms;
  }
}

.btn-primary-color {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.5em 1em;
  &:hover {
    background-color: white;
    color: $primary-color;
    transition: background-color 500ms;
  }
}

.btn-outline-primary-color {
  border-color: $primary-color;
  background-color: $primary-color;
  color: white;
  &:hover {
    background-color: white;
    color: $primary-color;
    transition: color 500ms ease-in-out, background-color 800ms ease-in-out, border-color 500ms ease-in-out;
  }
}

.btn-success {
  background-color: $color-success;
  border-color: $color-success;
  &:hover {
    background-color: $color-success;
    border-color: $color-success;
  }
}