<article class="blog-post-comment mt-3">
    <div class="container blog-post-comment__container">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 text-md-center blog-post-comment__aside">
                <p class="text-capitalize mb-0"><strong>--{{ comment.username }}</strong></p>
                <p>le {{ comment.createdAt|format_datetime('long', 'none', locale='fr') }}</p>
                {% if admin == true %}
                    {% if comment.approved == true %}
                        <p class="text-decoration-none badge bg-success mb-0">approuvé</p>
                    {% else %}
                        <p class="text-decoration-none badge bg-warning mb-0">non approuvé</p>
                    {% endif %}
                    <a class="mx-2 js-comment-delete btn-trash" data-href="{{ config['R_ADMIN_COMMENT_CONFIRM_DELETE'] ~ comment.id }}">
                        <i class="fas fa-close"></i>
                    </a>
                {% endif %}
            </div>
            <div class="col blog-post-comment__body">
                <div class="p-3">
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        </div>
    </div>
</article>