#home {
  background-image: url('../build/images/home.jpeg');
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  font-size: 1.6em;
}

.title-social {
  font-size: 1.2em;
  font-weight: bold;
}

#contact {
  background-color: $background-color !important;

  h2 {
    color: $primary-color;
  }
}
