<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Magali</title>
        <link rel="icon" type="image/x-icon" href="{{ config['FAVICON'] }}" />
        <link href="{{ config['CSS'] }}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ config['JS'] }}" defer></script>
    </head>
    <body>
        <div id="forbidden">
            <div class="forbidden">
                <div class="forbidden-403">
                    <h1>403</h1>
                </div>
                <h2>Oups!</h2>
                <p>Vous n'êtes pas autorisé à accéder à cette page</p>
                <a href="{{ config['R_HOMEPAGE'] }}">Retour à l'accueil</a>
            </div>
        </div>
    </body>
</html>